<h1>Welcome to A List For Odin</h1>
<h3>The ultimate source for what your friends are playing</h3>


<% @games.each do |each_game| %>
  <div>
    <%= link_to each_game.title, each_game %>
    <p><img src="<%= each_game.thumbnail %>" alt="game-thumbnail" height='75' width='75'>
    <% if current_user %>
    <%= button_to "Add game", {action: "create", controller: "ownerships", owner_id: current_user.id, game_id: each_game.id, remote: true}, {class: 'btn btn-small'} %></p>
    <% end %>
  </div>
<% end %>
